# omegaflow GitHub Secrets - Stub
# Werte hinter dem '=' eintragen, dann entweder in der GitHub-UI
# (Settings > Secrets and variables > Actions) anlegen oder per CLI:
#   gh secret set EBIRD_API_KEY
#   (gh liest den Wert interaktiv von stdin ein)

EBIRD_API_KEY=
# https://ebird.org/api/keygen (Cornell-Account)

OPENAQ_API_KEY=
# https://explore.openaq.org/register

FIRMS_MAP_KEY=
# https://firms.modaps.eosdis.nasa.gov/api/area/ > "Get MAP_KEY" (mit Earthdata-Login)

EARTHDATA_EDL_TOKEN=
# https://urs.earthdata.nasa.gov > Profil > "Generate Token"

CMEMS_USER=
# https://data.marine.copernicus.eu/register

CMEMS_PASS=
# persoenlicher CMEMS-Token aus dem Profil (dient als Passwort)

CATALOGS_TOKEN=
# PAT mit Contents-write auf omegaflow/catalogs; ohne wird GITHUB_TOKEN genutzt

GBIF_USER=
GBIF_PASS=
# https://www.gbif.org/ (API-Account)

# --- Noch zu besorgen (Platzhalter) ---
NASA_API_KEY=
# https://api.nasa.gov/#signUp
NASA_ADS_TOKEN=
# https://ui.adsabs.harvard.edu/user/settings/token
SPACETRACK_USER=
SPACETRACK_PASS=
# https://www.space-track.org/auth/login
SUPERMAG_USER=
SUPERMAG_PASS=
# https://supermag.jhuapl.edu/info/signup.php
CDS_API_KEY=
# https://cds.climate.copernicus.eu/user/register (ERA5)
JSOC_EMAIL=
# https://jsoc.stanford.edu/ajax/register_account.html (Sonne)
OWM_API_KEY=
# https://home.openweathermap.org/users/sign_up
NOAA_CDO_TOKEN=
# https://www.ncdc.noaa.gov/cdo-web/token
TNS_API_KEY=
# https://www.wis-tns.org/user/register (Transienten)
ZENODO_TOKEN=
# https://zenodo.org/oauth/login
MATERIALS_KEY=
# https://materialsproject.org/register
EIA_API_KEY=
# https://www.eia.gov/opendata/register.php (Energie)
ALPHAVANTAGE_KEY=
# https://www.alphavantage.co/support/#api-key
FRED_API_KEY=
# https://fred.stlouisfed.org/docs/api/api_key.html
PLANTNET_KEY=
# https://my.plantnet.org/
AIRNOW_KEY=
# https://docs.airnowapi.org/account/request/ (EPA)
GFW_TOKEN=
# https://data.globalforestwatch.org/
OCEANNETWORKS_TOKEN=
# https://data.oceannetworks.ca/DataSearch
TRANSPORTDATA_KEY=
# https://opentransportdata.swiss/en/dataset/
TRANSIT511_KEY=
# https://511.org/open-data/api
TNG_KEY=
# https://www.tng-project.org/register/ (IllustrisTNG)
SI_API_KEY=
# https://api.data.gov/signup/ (Smithsonian)
IUCN_TOKEN=
# https://apiv3.iucnredlist.org/api/v3/token
